.btn-form {
  width: 238px;
  height: 46px;
  margin-top: 37px;
  box-sizing: border-box;
  border-radius: 2px;
  background: #000;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.btn-form:hover {
  background: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 768px) {
  .btn-form {
    width: 358px;
    height: 50px;
    margin-top: 40px;
    font-size: 18px;
  }
}

.btn-form_inactive {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  color: rgba(0, 0, 0, 0.2);
}

.btn-form_inactive:hover {
  background: #fff;
}


.btn-edit {
	width: 18px;
	height: 18px;
	border: 0;
	padding: 0;
	background-image: url(./assets/edit-button-18.svg);
	background-color: rgba(0, 0, 0, 0);
	align-self: center;
}

.profile__hover {
	display: none;
}

.btn-edit:hover {
	opacity: 0.6;
	cursor: pointer;
}

@media screen and (min-width: 920px) {
	.btn-edit {
		width: 24px;
		height: 24px;
		background-image: url(./assets/edit-button.svg);
	}
}




.btn-add {
	width: 282px;
	height: 50px;
	border: 2px solid #fff;
	box-sizing: border-box;
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0);
	background-image: url(./assets/vector-plus.svg);
	background-position: center;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0 auto;
}

.btn-add {
	opacity: 0.6;
	cursor: pointer;
}

@media screen and (min-width: 625px) {
	.btn-add {
		width: 150px;
	}
}



.btn-close {
  width: 26px;
  height: 26px;
  background-image: url(./assets/close-icon.svg);
  background-position: center;
  position: absolute;
  top: -40px;
  right: 0;
  border: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.btn-close:hover {
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .btn-close {
    width: 40px;
    height: 40px;
    right: -40px;
  }
}

