.button {
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  padding: 14px 0 18px;
  cursor: pointer;
  align-self: center;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 18px;
  }
}

.button_type_primary {
  border: 1px solid #000;
  background: #000;
  color: #ffffff;
}

.button_type_primary:hover {
  background: rgba(0, 0, 0, 0.8);
}

.button_type_outline {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  color: rgba(0, 0, 0, 0.2);
}

.button_type_outline:hover {
  background: #fff;
}