.profile__text {
  display: inline-block;
  min-width: 70px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
  margin: 6px 0 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 920px) {
  .profile__text {
    font-size: 18px;
    margin: 16px 0 0 0;
  }
}